<div class="container">
    <app-main-nav></app-main-nav>
    
        <h1>
          Die richtige Antwort wäre gewesen:<br/>"{{ correctAnswer }}" 
        </h1>

        <h1 *ngIf="this.hasAnswered===true">
          Deine Antwort war:<br/>"{{ userAnswer }}"
        </h1>
        <br/>

        <mat-form-field *ngIf="this.hasAnswered===true" class="eigenbewertungContainer">
          <mat-label>Eigenbewertung</mat-label>
          <mat-select [(value)]="bewertung">
            <mat-option value=100>Sehr gut</mat-option>
            <mat-option value=80>gut</mat-option>
            <mat-option value=60>ausreichend</mat-option>
            <mat-option value=40>mangelhaft</mat-option>
            <mat-option value=20>ungenügend</mat-option>
            <mat-option value=0>falsch</mat-option>
          </mat-select>
        </mat-form-field>
        
        <br/>
        <p>
          <button *ngIf="this.hasAnswered===true" mat-raised-button (click)="evaluateOwnAnswer()" color="primary">Eigene Antwort bewerten</button>
        </p>
        <br/>
        <p>
          <button mat-raised-button (click)="nextQuestion()" color="accent">Nächste Frage</button>
        </p>
    
</div>