h1{
    margin-top: 60px;
    text-align: center;
}
  
.eigenbewertungContainer {
    margin-top: 30px;
    width: 320px;
    position: relative;
    bottom:10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

p{
    display: inline-block;
    margin-top: 30px;
    position: relative;
    bottom:10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
  
button{
    width: 320px;
    text-align: center;
}
  