<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" 
      attr.role="dialog"
      mode="over"
      opened="false">
    <mat-toolbar color="primary">Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/home">Übersicht</a>
      <a mat-list-item href="/create/thema">Neues Thema erstellen</a>
      <a mat-list-item href="/evaluate">Antworten evaluieren</a>
      <a mat-list-item href="/home">How-To</a>
      <a mat-list-item href="/login">Logout</a>    
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ location }}</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
