<div class="grid-container">
    <app-main-nav></app-main-nav>
    <mat-grid-list 
      [cols]="(isHandset$ | async) ? '1':'3'"
      [rowHeight]="(isHandset$ | async) ? '200px':'350px'">
      
      <mat-grid-tile *ngFor="let card of cards" colspan="1" rowspan="1">
        <mat-card  (click)="navigateEdit(card.cardId)" class="dashboard-card">
            <mat-card-title>
                {{ card.question }}
            </mat-card-title>
            <mat-card-content>
                {{ card.answer }}

            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  
    </mat-grid-list>
  </div>
  