<div class="grid-container">
    <app-main-nav></app-main-nav>
    <mat-grid-list 
    [cols]="(isHandset$ | async) ? '1':'2'"
    [rowHeight]="(isHandset$ | async) ? '200px':'350px'">
      
      <mat-grid-tile  colspan="1" rowspan="2">
        <mat-card class="dashboard-card">
            <mat-card-title class="statistik-card-header">
              Statistik zum Thema <br/> <b *ngFor="let tag of tags"> {{ tag }} <br/> </b>
            </mat-card-title>
            <mat-card-content>
              {{ oneDay.cardsCorrect}} von {{ oneDay.cardsOverall }}
            </mat-card-content>
            <mat-card-content>
              {{ sevenDays.cardsCorrect}} von {{ sevenDays.cardsOverall }}
            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="jetztLernen()" class="dashboard-card">
            <mat-card-title class="dashboard-card-content">
              Jetzt lernen
            </mat-card-title>
        </mat-card>
      </mat-grid-tile> 

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="navigateCreateCard()" class="dashboard-card">
            <mat-card-title  class="dashboard-card-content">
              Neue Frage erstellen
            </mat-card-title>
        </mat-card>
      </mat-grid-tile> 
  
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="navigateEvaluation()" class="dashboard-card">
            <mat-card-title class="dashboard-card-content">
              Antworten zu diesem Thema evaluieren
            </mat-card-title>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="navigateCardOverview()" class="dashboard-card">
            <mat-card-title class="dashboard-card-content">
              Alle Karten zu diesem Thema anzeigen
            </mat-card-title>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>

</div>