.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 5px;
    text-align:unset;
  }
  
  .dashboard-card-content {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }
  
  .statistik-card-header{
    text-align:center
  }