h1{
  margin-top: 100px;
  text-align: center;
}

.mat-form-field{
  margin-top: 100px;
  min-width: 300px;
  position: sticky;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
  margin-bottom: 80px;
}

p{
  display: inline-block;
  margin-top: 20px;
  position: sticky;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

button{
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.answerButton{
  width: 320px;
}

