h1{
    margin-top: 100px;
    position: relative;
    text-align: center;
  }
  
.mat-form-field{
    width: 300px;
    margin-top: 100px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

.mat-list{   
    margin-top: 0;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.mat-list-item{
    width: 400px;
    justify-self: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

/* this removes width value of the mat-list preset*/
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    width: 400px;
}

button{
    width: 200px;
    margin-top: 30px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}
  