<div class="container"> 
  <app-main-nav></app-main-nav>
        <h1>
        Die Frage war: {{ answerForEvaluation.question }}
        </h1>
        <h1>
        Die Antwort des Users war: {{ answerForEvaluation.userAnswer }}
        </h1>
        <h1>
        Die Antwort auf der Karte war: {{ answerForEvaluation.correctAnswer }}
        </h1>
    
        <mat-form-field class="bewertungContainer">
          <mat-label>Bewertung</mat-label>
          <mat-select #bewertung>
            <mat-option value=100>Sehr gut</mat-option>
            <mat-option value=80>gut</mat-option>
            <mat-option value=60>ausreichend</mat-option>
            <mat-option value=40>mangelhaft</mat-option>
            <mat-option value=20>ungenügend</mat-option>
            <mat-option value=0>falsch</mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <p>
          <button mat-raised-button (click)="evaluate( bewertung.value )" color="primary">Antwort bewerten</button>
        </p>
        <br/>
        <p>
          <button mat-raised-button (click)="nextEvaluation()" color="accent">Überspringen</button>
        </p>
    
</div>